<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.mapper.AirMapper">
    <select id="findAirByDistrictId" resultType="com.yang.pojo.Air">
        select air.*,district.name districtName from air,district where air.district_id=district.id
        <if test="districtId !=null">
            and district.id=#{districtId}
        </if>
    </select>
    <update id="updateAir" >
        update air <set>
        <if test="districtId!=null">district_id=#{districtId}</if>
        <if test="monitorTime!=null">,monitor_time=#{monitorTime}</if>
        <if test="pm10!=null">,pm10=#{pm10}</if>
        <if test="pm25!=null">,pm25=#{pm25}</if>
        <if test="monitoringStation!=null">,monitoring_station=#{monitoringStation} </if>
        </set>
        where id=#{id}

    </update>
</mapper>